<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <form action="/create" method="post">
            <input type="text" placeholder="your title" name="title" />
            <textarea placeholder="your textarea" name="detail"></textarea>
            <button type="submit">create Task </button>
        </form>
        <% if(files.length > 0) { %>
        <% files.forEach(function(file) { %>
        <h3>Files created</h3>
        <% }) %>
        <% } else { %>
        <h3>No tasks yet</h3>
        <% } %>
    </body>
</html>